old_dice_battle_machine.py
.vscode
89dd650f021e0189065a1cf6dd89ab25.png 
dice_battle_machine.onefile-build/
__pycache__/
a.png
fight_log/
dice_battle_machine.build/
for_blow_of_fate/
dice_battle_machine.dist/
for_blow_of_fate_DT/
